body {
	position: relative;
	overflow-x: hidden;
	width: 100vw;
	font-family: "Public Sans", sans-serif;
}

a {
	text-decoration: none;
}

span,
p {
	color: #99989d;
}

.invite-btn {
	border: none;
	outline: none;
	all: unset;
	width: 165px;
	height: 45px;
	background: linear-gradient(90deg, #31cf72 4.85%, #2cbac7 100%);
	color: #ffffff;
	margin: 20px 0px;
	width: 165px;
	height: 45px;
	border-radius: 89px;
	text-align: center;
}

.add-new-article {
	border: none;
	outline: none;
	all: unset;
	width: 165px;
	height: 45px;
	background: linear-gradient(90deg, #31cf72 4.85%, #2cbac7 100%);
	color: #ffffff;
	margin: 20px 0px;
	width: 165px;
	height: 45px;
	border-radius: 89px;
	text-align: center;
}
