:root {
	--darkBlue: hsl(233, 26%, 24%);
	--limeGreen: hsl(136, 65%, 51%);
	--brightCyan: hsl(192, 70%, 51%);
	--grayishBlue: hsl(233, 8%, 62%);
	--lightGrayishBlue: hsl(220, 16%, 96%);
	--veryLightGray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

body {
	position: relative;
	overflow-x: hidden;
	width: 100vw;
	font-family: "Public Sans", sans-serif;
}

a {
	text-decoration: none;
}

span,
p {
	color: #99989d;
}

/*NAV CSS*/
.navBar {
	background-color: #ffffff;
	padding: 5px 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	/* revisar z-index */
	z-index: 2;
	width: 100vw;
	height: 80px;
}

.nav-item {
	position: relative;
	margin-left: 20px;
	color: #99989d;
	transition: color 300ms ease-in-out;
}

.nav-item::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -35px;
	width: 0;
	height: 4px;
	background: linear-gradient(90deg, #36cb6d 0%, #29b8c8 100%);
	transition: all 0.5s;
}

.nav-item:hover::after {
	width: 100%;
}

/*HERO CSS*/
.hero {
	background-color: #fafafa;
	display: grid;
	grid-template-columns: 40% 60%;
	height: 90vh;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow-x: hidden;
	/* background-color: #fafafa;
	display: flex;
	height: 655px;
	justify-content: center;
	align-items: center;
	overflow-x: hidden; */
}

.hero-text {
	display: flex;
	flex-direction: column;
	width: 70%;
	transform: translate(40%, -40%);
	/* margin: 170px 354px; */
}

.hero-text h1 {
	font-size: 53px;
	line-height: 62px;
	color: #2d314e;
	font-style: normal;
	margin-bottom: 20px;
}

.hero-background-img {
	background-image: url("./images/bg-intro-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50px;
	background-position-y: -80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phones {
	width: 85%;
	transform: translate(140px, -50px);
}

/*SECTION CSS*/
.section {
	background-color: #f4f5f7;
	padding: 100px 50px;
	display: flex;
	flex-direction: column;
}

.section-text {
	position: relative;
	padding-bottom: 20px;
	width: 45vw;
}

.section-text h2 {
	font-weight: 400;
	font-size: 40px;
	line-height: 62px;
	margin: 20px 0;
}

.section-text p {
	color: #99989d;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}

.section-list {
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
}

.section-list > div img {
	padding: 10px 0;
}

.section-list > div h2 {
	padding: 15px 0;
	width: 300px;
}

.invite-btn {
	/* display: grid; */
	border: none;
	outline: none;
	all: unset;
	width: 165px;
	height: 45px;
	background: linear-gradient(90deg, #31cf72 4.85%, #2cbac7 100%);
	color: #ffffff;
	margin: 20px 0px;
	/* padding: 10px 25px; */
	width: 165px;
	height: 45px;
	border-radius: 89px;
	text-align: center;
}
