body {
	position: relative;
	overflow-x: hidden;
	width: 100vw;
	font-family: "Public Sans", sans-serif;
}

a {
	text-decoration: none;
}

span,
p {
	color: #99989d;
}

/*NAV CSS*/
.navBar {
	background-color: #ffffff;
	padding: 5px 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	z-index: 2;
	width: 100vw;
	height: 80px;
}

.nav-item {
	position: relative;
	margin-left: 20px;
	color: #99989d;
	transition: color 300ms ease-in-out;
}
.nav-item:hover {
	color: #2d314d;
}

.nav-item::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -35px;
	width: 0;
	height: 4px;
	background: linear-gradient(90deg, #36cb6d 0%, #29b8c8 100%);
	transition: all 0.5s;
}

.nav-item:hover::after {
	width: 100%;
}

/*HERO CSS*/
.hero {
	background-color: #fafafa;
	display: grid;
	grid-template-columns: 40% 60%;
	height: 90vh;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow-x: hidden;
}

.hero-text {
	display: flex;
	flex-direction: column;
	width: 70%;
	transform: translate(40%, -40%);
	/* margin: 170px 354px; */
}

.hero-text h1 {
	font-size: 53px;
	line-height: 62px;
	color: #2d314e;
	font-style: normal;
	margin-bottom: 20px;
}

.hero-background-img {
	background-image: url("./images/bg-intro-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50px;
	background-position-y: -80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phones {
	width: 85%;
	transform: translate(140px, -50px);
}

/*SECTION CSS*/
.section {
	background-color: #f4f5f7;
	padding: 100px 50px;
	display: flex;
	flex-direction: column;
}

.section-text {
	position: relative;
	padding-bottom: 20px;
	width: 45vw;
}

.section-text h2 {
	font-weight: 400;
	font-size: 40px;
	line-height: 62px;
	margin: 20px 0;
}

.section-text p {
	color: #99989d;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}

.section-list {
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
}

.section-list > div img {
	padding: 10px 0;
}

.section-list > div h2 {
	padding: 15px 0;
	width: 300px;
	font-size: 23px;
	font-weight: 400;
	line-height: 62px;
	color: #2d314e;
}

.section-list > div p {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #959499;
}

/*LATEST ARTICLE CSS*/
.latest-articles-container {
	background: #fafafa;
	padding: 100px 50px;
	display: flex;
	flex-direction: column;
}

.latest-text-container {
	display: flex;
	justify-content: space-between;
}

.latest-text-container > h2 {
	font-size: 40px;
	font-weight: 400;
	line-height: 62px;
	margin-bottom: 30px;
	margin-left: 70px;
}

.latest-text-container > button {
	margin-right: 70px;
}

.article-container {
	display: flex;
	justify-content: space-around;
}

.article-card {
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	width: 260px;
	/* height: 399px; */
}

.article-img-container {
	display: flex;
	justify-content: center;
	height: 195px;
}

.article-img-container > img {
	width: 100%;
	height: 200px;
}

.article-text {
	margin-top: 10px;
	padding: 20px;
}

.article-text > span {
	color: #959499;
	font-size: 10px;
	line-height: 18px;
	font-weight: 400;
}

.article-text > h5 {
	margin-top: 5px;
	color: #2d314e;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.article-text > h5:hover {
	color: #77bda3;
}

.article-text > p {
	margin-top: 5px;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #959499;
}

/*FOOTER CSS*/
.footer {
	background-color: #2d314e;
	height: 190px;
	display: flex;
}

.footer-container-links {
	display: flex;
	justify-content: space-around;

	width: 70vw;
}

.first-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sec-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sec-col > a {
	color: #ffffff;
	margin-top: 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.sec-col > a:hover {
	color: #77bda3;
}

.third-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.third-col > a {
	color: #ffffff;
	margin-top: 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.third-col > a:hover {
	color: #77bda3;
}

.footer-social-links {
	margin-top: 50px;
}

.footer-social-links > a {
	margin-left: 10px;
}

.footer-social-links > a > img:hover {
	background: #77bda3;
}

.footer-request-btn {
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-copyright {
	color: #ffffff;
}

.form-new-article {
	padding-top: 80px;
}

.invite-btn {
	border: none;
	outline: none;
	all: unset;
	width: 165px;
	height: 45px;
	background: linear-gradient(90deg, #31cf72 4.85%, #2cbac7 100%);
	color: #ffffff;
	margin: 20px 0px;
	width: 165px;
	height: 45px;
	border-radius: 89px;
	text-align: center;
}

.add-new-article {
	border: none;
	outline: none;
	all: unset;
	width: 165px;
	height: 45px;
	background: linear-gradient(90deg, #31cf72 4.85%, #2cbac7 100%);
	color: #ffffff;
	margin: 20px 0px;
	/* padding: 10px 25px; */
	width: 165px;
	height: 45px;
	border-radius: 89px;
	text-align: center;
}
